<form action="">
    <p>
        <input type="text" placeholder="Enter username">
    </p>
    <p>
        <input type="password" placeholder="Enter password">
    </p>
    <p>
        <button type="submit">Login</button>
    </p>
</form>
<h2>
    {{currentDate.date}}
</h2>