<form action="" method="POST">
    <p>
        <input type="text" name="username" placeholder="Enter username">
    </p>
    <p>
        <input type="password" name="password" placeholder="Enter password">
    </p>
    <p>
        Gender:
        <input type="radio" name="gender" value="M">Male&nbsp;
        <input type="radio" name="gender" value="F">Female
    </p>
    <p>
        <button type="submit">Register</button>
    </p>
</form>